.cnlk{
position: relative;
}
.cnlk1{
    position: absolute;
    top:5px;
    right:5px;
    z-index: 1000;
    opacity:0;
    cursor: pointer;
    transition: all 0.5s;
    color: red;
    font-size: 18px;
}

.cnlk:hover .cnlk1{
    opacity:1;
}